@import "vars";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  background-color: $color-bg;
  color: $color-dark;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

*:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 4px;
}
