$color-dark: #233849;
$color-main: #4d799d;
$color-neutral: #727272;
$color-light: #b9b9b9;
$color-bg: #ffff;
$color-accent: #f2b124;

$breakpoint-desktop: 1023px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 389px;
