@import "../base/vars";
@import "../base/mixins";

.footer {
  background-color: $color-main;
  color: #ffffff;
  padding: 30px 0;
  font-size: 14px;
  font-weight: 400;

  .container {
    @include flex-column;
    gap: 20px;
  }

  &__row {
    &--middle {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
      @media (max-width: $breakpoint-tablet) {
        @include flex-column;
      }
    }

    &--bottom {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      padding-top: 20px;
    }
  }
  &__column {
    &--left {
      flex-shrink: 0;
    }
  }
}

.info {
  max-width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__copyright {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    max-width: 518px;
  }
  &__details {
    text-align: justify;
  }
}
